#typing {
    width: max-content;
}



main.hero-welcome {
    display: inline-block;
    width: 100%;

    &>article {
        display: inline-flex;
        width: 100%;
        flex-direction: column;
        text-align: start;
        justify-content: center;
        margin: auto;

        h1 {
            font-size: 9.6rem;
            font-weight: 900;

            margin-block-end: 0;

            span {
                color: #F4CE14;
            }
        }

        h2 {
            width: max-content;
            font-size: 2.5rem;
            font-weight: 500;
            color: #F4CE14;
            white-space: nowrap;
            overflow: hidden;
            border-right: 3px solid;
            border-color: #ebecf3;
            animation: cursor 0.8s step-end infinite alternate, typing 3s steps(30);

            span {
                color: #ebecf3;
            }
        }

        p {
            font-weight: 200;
            font-size: 1.8rem;
            max-width: 600px;
        }
    }
}

/* Keyframes */

@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

@keyframes cursor {
    50% {
        border-color: transparent;
    }
}

/* Media Screen */

@media screen and (max-width: 1024px) {
    main.hero-welcome {
        &>article {
            h1 {
                font-size: 5rem;
            }

            p {
                font-size: 1.5rem;
            }
        }
    }
}