:root {
    --active-element-show-shadow: 0;
}

main.hero-experience {
    display: inline-flex;
    flex-direction: column;
    width: 100%;
    margin-top: 80px;
    gap: 1.5rem;

    h2 {
        font-size: 1.8rem;
        font-weight: 800;

        span {
            color: #F4CE14;
        }
    }

    section {
        display: inline-flex;
        margin-top: 20px;
        gap: 4rem;

        nav {
            width: 25%;
            background-color: #F5F7F8;
            padding: 2rem;
            border-radius: 8px;

            ul {
                margin: 0;
                padding: 0;
                list-style: none;
                display: inline-flex;
                flex-direction: column;
                gap: 40px;

                li {
                    button {
                        appearance: none;
                        border: none;
                        cursor: pointer;
                        background-color: transparent;
                        padding: 0;
                        margin: 0;

                        font-weight: 600;
                        font-size: 16px;
                        list-style: 22px;
                        color: #5C5B66;
                        transition: color .25s;
                    }

                    &.active {
                        button {
                            color: #111;



                        }
                    }

                    &:not(.active) {
                        &:hover {
                            button {
                                color: #807E8C;
                            }
                        }
                    }
                }


            }
        }

        main {
            display: inline-block;
            width: 75%;
        }
    }
}

/* Media Queries */
@media screen and (max-width: 768px) {
    main.hero-experience {
        section {
            flex-direction: column;

            nav {
                width: 100%;

            }

            main {
                width: 100%;
            }
        }
    }
}